*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

:root {
	--cell-border: 10px solid black;
}

.text-center {
	text-align: center;
}

.btn-center {
	display: block;
	margin: auto;
}

.padding-medium {
	padding: 0.5rem 1.5rem;
}

h1 {
	margin: 1em auto;
}

#startButton{
	margin: 1em auto;
}

.gameBoard{
display: flex;
padding-top: 2em;
position: relative;
}
.table {
	margin: 30px auto;
	/* max-width: 600px; */
	/* min-width: 200px; */
	/* max-height: 600px; */
	/* min-height: 200px; */
	display: grid;
	grid-template: repeat(3, 100px) / repeat(3, 100px);
	/* border: 1px solid black; */
	/* padding: 5px; */
	/* filter: blur(.4rem); */
}

.cell {
	/* padding: 10px; */
	/* background-color: lightgreen; */
	font-family: monospace;
	font-weight: bolder;
	font-size: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mid {
	border-top: var(--cell-border);
	border-bottom: var(--cell-border);
}

.center {
	border-left: var(--cell-border);
	border-right: var(--cell-border);
}

.gameOverText {
	display: none;
	padding: 1.2em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	color: rgb(3, 50, 80);
	font-weight: bold;
	text-align: center;
	-webkit-text-stroke: 2px rgb(184, 20, 20);
}

.gameOverText > span {
	font-size: 7rem;
	line-height: 0.7;
}