* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--cell-border: 10px solid black;
}

.text-center {
	text-align: center;
}

.btn-center {
	display: block;
	margin: auto;
}

.padding-medium {
	padding: 0.5rem 1.5rem;
}

.table {
	margin: 30px auto;
	width: 600px;
	height: 600px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	/* border: 1px solid black; */
	/* padding: 5px; */
}

.cell {
	padding: 10px;
	/* background-color: lightgreen; */
	font-family: monospace;
	font-weight: bolder;
	font-size: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mid {
	border-top: var(--cell-border);
	border-bottom: var(--cell-border);
}

.center {
	border-left: var(--cell-border);
	border-right: var(--cell-border);
}
